$color-primary: hsl(225, 20%, 60%); // Text
$color-primary--dark: hsl(223, 50%, 87%); // Toggle Background
$color-primary--light: hsl(226, 68%, 95%); // Empty Slider Bar
$color-secondary: hsl(0, 0%, 100%); // Pricing Component Background
$color-secondary--dark: hsl(227, 35%, 25%); // Main Background
$color-secondary--light: hsl(230, 100%, 99%); // Text & CTA Background
$color-cyan: hsl(174, 76%, 80%); // Full Slider Bar
$color-cyan--dark: hsl(174, 86%, 45%); // Slider Backround
$color-orange: hsl(15, 100%, 70%); // Discount Text
$color-orange--light: hsl(14, 92%, 95%); // Discount Background
$color-blue: hsl(226, 100%, 87%); // CTA Text

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: $color-primary;
  background: {
    color: rgba($color-primary--dark, 0.1);
    image: url('../images/bg-pattern.svg');
    repeat: no-repeat;
    size: 130rem;
  }
  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-rendering: optimizeSpeed;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;

  @media (min-width: 810px) {
    background-size: 170rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
