@use './base' as *;

.content {
  &__header {
    background: {
      image: url('../images/pattern-circles.svg');
      repeat: no-repeat;
      position: center;
    }
    padding: 5rem 0;

    & > *:nth-child(2) {
      margin-bottom: 0.5rem;
    }
  }

  &__heading {
    color: $color-secondary--dark;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 400;

    &--main {
      font-size: 1.3rem;
      max-width: 20rem;
      margin: 0 auto;
    }

    &--views {
      font-weight: 600;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }

    &--discount {
      font-size: 1rem;
      padding: 0 1rem;
      color: $color-orange;
      background-color: $color-orange--light;
      border-radius: 5rem;
      font-weight: 600;
      overflow: hidden;
    }
  }

  &__box {
    background-color: $color-secondary;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
    margin-top: 2rem;
    padding: 3rem 2rem;
  }

  &__wrapper {
    &-top {
    }

    &-text {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
    }

    &-bottom {
    }
  }

  &__slider {
    width: 100%;
    margin: 2rem 0;
  }

  &__num {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &-span {
      color: $color-secondary--dark;
      font-size: 3rem;
      font-weight: 800;
    }
  }

  &__checkbox {
    // margin: 0 1rem;
  }

  &__list {
  }

  &__item {
  }

  &__btn {
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 1rem;

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    // color: $color-primary--light;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    // color: $color-secondary;
  }
}
