@use './base' as *;

.content {
  &__header {
    background: {
      image: url('../images/pattern-circles.svg');
      repeat: no-repeat;
      position: center;
    }
    padding: 5.5rem 0;

    & > *:nth-child(2) {
      margin-bottom: 0.5rem;
    }
  }

  &__heading {
    color: $color-secondary--dark;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 400;

    &--main {
      font-size: 1.3rem;
      max-width: 20rem;
      margin: 0 auto;
    }

    &--views {
      font-weight: 600;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }

    &--discount {
      font-size: 1rem;
      padding: 0 1rem;
      color: $color-orange;
      background-color: $color-orange--light;
      border-radius: 5rem;
      font-weight: 600;
      overflow: hidden;
    }
  }

  &__box {
    background-color: $color-secondary;
    border-radius: 0.5rem;
    box-shadow: rgba($color-secondary--dark, 0.1) 0px 10px 40px -5px;
    margin-top: 1rem;
  }

  &__wrapper {
    &-top {
      padding: 3.5rem 1rem;
    }

    &-text {
      margin: 3rem 0 1rem 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
    }

    &-bottom {
      border-top: 0.1rem solid $color-primary--light;
      padding: 2.5rem 1rem 3rem 1rem;
    }
  }

  &__slider {
    width: 90%;
    height: 0.8rem;
    border-radius: 1rem;
    background-color: $color-primary--light;
    margin: 3rem 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-slider-runnable-track,
    &::-moz-range-track,
    &::-ms-track {
    }
  }

  input[type='”range”']::-webkit-slider-thumb,
  input[type='”range”']::-moz-range-thumb,
  input[type='”range”']::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__num {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &-span {
      color: $color-secondary--dark;
      font-size: 3rem;
      font-weight: 800;
    }
  }

  &__checkbox {
    // margin: 0 1rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;

    &::before {
      content: url('../images/icon-check.svg');
      width: 2rem;
      margin-right: 1.5rem;
    }
  }

  &__btn {
    color: $color-blue;
    background-color: $color-secondary--dark;
    font-size: 1.25rem;
    border: 0;
    border-radius: 5rem;
    margin-top: 2rem;
    padding: 1rem 4.5rem;
    transition: color 0.3s;

    &:hover {
      color: $color-secondary;
      cursor: pointer;
    }
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 1rem;

  &__link:link,
  &__link:visited {
    color: $color-cyan--dark;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-cyan;
  }
}
