.container {
  width: 87%;
  max-width: 54rem;
  text-align: center;
  margin: 4rem 0;

  @media (min-width: 810px) {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
}
